<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>{{ page.title }} | Presentation</title>

        <script src="js/jquery.min.js"></script>
        <script src="js/deck.core.js"></script>
        <script src="js/modernizr.custom.js"></script>
        <script src="js/deck.hash.js"></script>
        <script src="js/prettify.js"></script>
        <script src="js/lang-basic.js"></script>
        <script src="js/run_prettify.js"></script>

        <link rel="stylesheet" href="css/deck.custom.css" />
        <link rel="stylesheet" href="css/font-awesome.css" />
        <link rel="stylesheet" href="css/fonts.css" />
        <link rel="stylesheet" href="css/main.css" />
        <link rel="stylesheet" href="css/prettify.css" />
    <head>

    <body class="deck-container">
        {{ content }}

        <script>
            jQuery.deck('.slide');
        </script>
    </body>
</html>
